<!DOCTYPE html>
<html lang="es-MX">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 
  
  <nav id="navbar" class="nav justify-content-center fixed-top col-xs-12">
    <li class="nav-item">
     <div id="boton-direccion-logo"> <a class="nav-link" id="a-logo" href="#"><img id="imagen-logo" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/logo.png" alt="logo"></a></div>
    </li>
    <li class="nav-item">
      <button class="btn nav-link" id="boton-direccion"><a id="link-direccion" href="https://www.google.com.mx/maps/place/Dra.+Jocelyn+Jim%C3%A9nez/@20.5969379,-100.3757306,18z/data=!4m5!3m4!1s0x0:0xe5f77b2b27ffa792!8m2!3d20.5985648!4d-100.3762375">Calzada Pathé 78 Col. Pathé, Qro.</a></button>
    </li>
    <li class="nav-item ">
      <button class="btn nav-link" id="botones-redes-2"><a class="nav-link" id="link-redes"  href="">Agendar Cita</a></button>
    </li>
    <li class="nav-item ">
      <button class="btn nav-link" id="botones-redes"><a class="nav-link" id="link-redes"  href="https://www.facebook.com/Dentistas-en-Queretaro-745467918888663/"><i class="fa fa-facebook"></i></a></button>
    </li>
    <li class="nav-item ">  
      <button class="btn nav-link" id="botones-redes"><a class="nav-link" id="link-redes"  href="https://api.whatsapp.com/send?phone=44 23758253&text=Hola, Buen dia"><i class="fa fa-whatsapp"></i></a></button>
    </li>
  </nav>
 
 
  <ngb-carousel class="col-xs-12" id="carrusel">
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544203539/imagen-logo.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <!-- <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p> -->
  </div>
    </ng-template>
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544203539/imagen2.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <!-- <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544203539/imagen6.jpg"  alt="Random third slide">
      <div class="carousel-caption">
        <!-- <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544203539/imagen1.jpg" alt="Random fourth slide">
      <div class="carousel-caption">
        <!-- <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544203539/imagen7.jpg" alt="Random fifth slide">
      <div class="carousel-caption">
        <!-- <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544203539/imagen3.jpg" alt="Random sixth slide">
      <div class="carousel-caption">
        <!-- <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544205736/imagen9.jpg" alt="Random seventh slide">
      <div class="carousel-caption">
        <!-- <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544203539/imagen8.jpg" alt="Random eighth slide">
      <div class="carousel-caption">
        <!-- <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img id="imagen-carrusel" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1544203539/imagen4.jpg" alt="Random nineth slide">
      <div class="carousel-caption">
        <!-- <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p> -->
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="col-xs-12 " id="div-form">
      <form (ngSubmit)="contactForm(form.value)" #form="ngForm" id="form">
          <p id="parrafo-form">Complete los campos para ponernos en contacto</p>
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" ngModel placeholder="Jose Antonio Gracia">
            </div>
            <div class="form-group">
            <label>Asunto</label>
            <input type="text" class="form-control" name="asunto" ngMode placeholder="Informes">
            </div>
            <div class="form-group">
              <label>Numero</label>
              <input type="number" class="form-control" name="numero" ngModel placeholder="xx-xxxx-xxxx">
            </div>
            <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" name="email" ngModel placeholder="example@example.com">
            </div>
            <div class="form-group">
            <label>Mensaje</label>
            <textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel placeholder="Lo que guste preguntar"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          
      </form>
  </div>
  <p id="titulo-mensaje-bloque">¿QUÉ NOS DIFERENCIA?</p>
  <div class="col-xs-12" id="mensaje">
      <br>
       
        <p id="titulo-mensaje">CLINICA EQUILIBRIUM</p>        
        <p id="parrafo-mensaje">Somos una clinica de especialidades Dentales en la ciudad de Querétaro, México, enfocados en brindarte resultados de excelencia, con un sentido de urgencia integrando en cada uno de nuestros tratamientos Tegnologia, Higiene y con los mas altos estandares de calidad</p>
        <p id="parrafo-mensaje">Atencion especilizada a pacientes extranjeros</p>
  </div>

  <p id="titulo-mensaje-bloque">NUESTRAS ESPECIALIDADES</p>

  <div class="col-xs-12 row" id="div-especialidades">
      <div id="carta" class="col-xs-6 col-sm-4">
          <img src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/Icono_estetica.png" alt="">
          <div>Estetica Dentofacial</div>
          <button class="btn" (click)="estetica()"id="boton-mas-ifo">MAS INFORMACION</button>
      </div>
      <div id="carta" class="col-xs-6 col-sm-4">
        <img src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/icono_brackets_Mesa_de_trabajo_1.png" alt="">
        <div>Ortodoncia</div>
        <button class="btn" (click)="ortodoncia()"id="boton-mas-ifo">MAS INFORMACION</button>
    </div>
      <div id="carta" class="col-xs-6 col-sm-4">
        <img src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/edodoncia-01.png" alt="">
        <div>Endodoncia</div>
        <button class="btn" (click)="endodoncia()"id="boton-mas-ifo">MAS INFORMACION</button>
    </div>
      
      
        <div id="carta" class="col-xs-6 col-sm-4">
          <img src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/cirugiamaxi-01.png" alt="">
          <div>Cirugia maxilofacial</div>
          <button class="btn" (click)="maxilofacial()"id="boton-mas-ifo">MAS INFORMACION</button>
      </div>
        <div id="carta" class="col-xs-6 col-sm-4">
          <img src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/icono_implante-01.png" alt="">
          <div>Implatologia y<br> endodoncia</div>
          <button class="btn" (click)="implantologia()"id="boton-mas-ifo">MAS INFORMACION</button>
      </div>
        <div id="carta" class="col-xs-6 col-sm-4">
          <img src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/icono_protesis-01.png" alt="">
          <div>Protesis y <br> rehabilitación </div>
          <button class="btn" (click)="rehabilitacion()"id="boton-mas-ifo">MAS INFORMACION</button>
        </div>
     
    </div>
  <p id="titulo-mensaje-bloque">MENSAJES DE NUETRSOS CLIENTES</p>
  
  <table class="col-xs-12" id="comen">
   
    <tr *ngFor="let comentario of comentarios">
        <ng-template [ngIf]="comentario.Calificacion>=5">
            <td><img id="imagen-estrellitas" src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664444/5estrellas.png" alt="5"></td>
          
          <td class="nombre-coment">{{comentario.NombreCliente}}</td>
          <br>      
          <td class="coment-coment">{{comentario.Comentario}}</td>
        </ng-template>
        <ng-template [ngIf]="comentario.Calificacion==4">
              <td><img id="imagen-estrellitas" src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664443/4.png" alt="4"></td>
            <td class="nombre-coment">{{comentario.NombreCliente}}</td>
            <br>      
            <td class="coment-coment">{{comentario.Comentario}}</td>      
        </ng-template>
        <ng-template [ngIf]="comentario.Calificacion==3">
              <td><img id="imagen-estrellitas" src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664443/3.png" alt="3"></td>
            <td class="nombre-coment">{{comentario.NombreCliente}}</td>
            <br>      
            <td class="coment-coment">{{comentario.Comentario}}</td>        
        </ng-template>
        <ng-template [ngIf]="comentario.Calificacion==2">
              <td><img id="imagen-estrellitas" src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664443/20.png" alt="2"></td>
            <td class="nombre-coment">{{comentario.NombreCliente}}</td>
            <br>      
            <td class="coment-coment">{{comentario.Comentario}}</td>       
        </ng-template>
        <ng-template [ngIf]="comentario.Calificacion==1">
              <td><img id="imagen-estrellitas" src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664442/1.png" alt="1"></td>
            <td class="nombre-coment">{{comentario.NombreCliente}}</td>
            <br>      
            <td class="coment-coment">{{comentario.Comentario}}</td>       
        </ng-template>

    </tr>
    
  </table>

    <p id="titulo-mensaje-bloque">ESTAMOS CERTIFICADOS POR: </p>

    <div class="col-xs-12">
        <img id="imagen-ada" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1543882976/ada.jpg">
    </div>

    <p id="titulo-mensaje-bloque">¿DONDE NOS ENCONTRAMOS</p>
   
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
     </agm-map>  
     
     <div id="pie" class="col-xs-12 row">
      <button class="btn btn-light col-sm-4" id="boton-direccion-pie" type="submit"><a id="link-direccion-pie" href="https://www.google.com.mx/maps/place/Dra.+Jocelyn+Jim%C3%A9nez/@20.5969379,-100.3757306,18z/data=!4m5!3m4!1s0x0:0xe5f77b2b27ffa792!8m2!3d20.5985648!4d-100.3762375">Calzada Pathé 78 Col. Pathé, Qro.</a></button>
      <button class="btn btn-light col-sm-4" id="boton-direccion-pie" type="submit"><a id="link-direccion-pie" href="https://www.digitalmarketingqueretaro.com">Desarrollado por Marketing Digital Casanova</a></button>
      <button class="btn btn-light col-sm-4" id="boton-direccion-pie" type="submit"><a id="link-direccion-pie" href="#">Programador Juan Casanova</a></button>    
    </div>
  
     
</body>
</html>