<!DOCTYPE html>
<html lang="es-MX">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
   <!-- <nav class="navbar navbar-black bg-black" id="nav"> -->
  <nav class="navbar navbar-light fixed-top" id="nav" style="background-color: #ffffff;">
      <a class="navbar-brand" id="imagen_nav"><img src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/logo_Mesa_de_trabajo_1.png" alt="no funciona galan"></a>
      
      
  </nav>

  <div class="col-sm-12" id="trazo"></div>


  
<article>
    <table class="col-sm-9" id="comen">
   
        <tr *ngFor="let comentario of comentarios">
            <ng-template [ngIf]="comentario.Calificacion>=5">
              <td><img src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664444/5estrellas.png" alt="5"></td>
              
              <td class="nombre-coment">{{comentario.NombreCliente}}</td>
              <br>      
              <td class="coment-coment">{{comentario.Comentario}}</td>
              <td><button class="btn btn-danger" (click)="deleteComentario(comentario._id)"><i class="fa fa-trash"></i></button></td>
            </ng-template>
            <ng-template [ngIf]="comentario.Calificacion==4">
                <td><img src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664443/4.png" alt="4"></td>
                <td class="nombre-coment">{{comentario.NombreCliente}}</td>
                <br>      
                <td class="coment-coment">{{comentario.Comentario}}</td>      
            </ng-template>
            <ng-template [ngIf]="comentario.Calificacion==3">
                <td><img src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664443/3.png" alt="3"></td>
                <td class="nombre-coment">{{comentario.NombreCliente}}</td>
                <br>      
                <td class="coment-coment">{{comentario.Comentario}}</td>        
            </ng-template>
            <ng-template [ngIf]="comentario.Calificacion==2">
                <td><img src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664443/20.png" alt="2"></td>
                <td class="nombre-coment">{{comentario.NombreCliente}}</td>
                <br>      
                <td class="coment-coment">{{comentario.Comentario}}</td>       
            </ng-template>
            <ng-template [ngIf]="comentario.Calificacion==1">
                <td><img src="https://res.cloudinary.com/consultorio-dental/image/upload/c_scale,w_400/v1543664442/1.png" alt="1"></td>
                <td class="nombre-coment">{{comentario.NombreCliente}}</td>
                <br>      
                <td class="coment-coment">{{comentario.Comentario}}</td>       
            </ng-template>
    
            <!-- <div #second>NO ES BUENO</div> -->
        </tr>
        
      </table>
</article>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>