<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav id="navbar" class="nav justify-content-center fixed-top col-xs-12">
        <li class="nav-item">
         <div id="boton-direccion-logo"> <a class="nav-link" id="a-logo" href="#"><img id="imagen-logo" src="https://res.cloudinary.com/consultorio-dental/image/upload/v1542915252/logo.png" alt="logo"></a></div>
        </li>
        <li class="nav-item">
          <button class="btn nav-link" id="boton-direccion"><a id="link-direccion" href="https://www.google.com.mx/maps/place/Dra.+Jocelyn+Jim%C3%A9nez/@20.5969379,-100.3757306,18z/data=!4m5!3m4!1s0x0:0xe5f77b2b27ffa792!8m2!3d20.5985648!4d-100.3762375">Calzada Pathé 78 Col. Pathé, Qro.</a></button>
        </li>
        <li class="nav-item ">
          <button class="btn nav-link" id="botones-redes-2"><a class="nav-link" id="link-redes"  href="#">Agendar Cita</a></button>
        </li>
        <li class="nav-item ">
          <button class="btn nav-link" id="botones-redes"><a class="nav-link" id="link-redes"  href="https://www.facebook.com/Dentistas-en-Queretaro-745467918888663/"><i class="fa fa-facebook"></i></a></button>
        </li>
        <li class="nav-item ">  
          <button class="btn nav-link" id="botones-redes"><a class="nav-link" id="link-redes"  href="https://api.whatsapp.com/send?phone=44 23758253&text=Hola, Buen dia"><i class="fa fa-whatsapp"></i></a></button>
        </li>
      </nav>
    <div class="col-sm-12" id="trazo"></div>

        <div class="col-sm-6 border rounded" id="mensaje">
            <form (ngSubmit)="ComentarioForm($event)" id="margin_img">
                <p id="p_form">Ingrese su comentario y calificacion</p>
                <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name='nombre' [(ngModel)]='nombre' placeholder="Jose">
                </div>
                <div class="form-group">
                <label>Del 1 al 5 ¿Que calificacion le otorga al servicio prestado?</label>
                <input type="text" class="form-control" name="calificacion"  [(ngModel)]='calificacion' placeholder="5 como maxima 1 como minima">
                </div>
                <div class="form-group">
                <label>Comentario que quiera agregar</label>
                <textarea class="form-control" cols="30" rows="6" name="mensaje" [(ngModel)]='mensaje' placeholder="Es un servico profesional"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button> 
            </form>
        </div>
  
</body>
</html>